<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Feedback</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>

<body>
    <div class="app-container">

        <header class="navbar">
            <h1 class="logo">PaperInsight</h1>
            <nav>
                <a href="/">Home</a>
                <a href="/">Upload Paper</a>
                <a href="/results">Key Insights</a>
                <a href="/feedback">Feedback</a>
            </nav>
        </header>

        <section class="card">
            <h3>Feedback</h3>
            <p>
                This project helps students and researchers understand
                complex research papers using AI-driven insights.
            </p>
        </section>

        <footer class="footer">
            © 2026 PaperInsight
        </footer>

    </div>
</body>

</html>